{% extends "_templates/base.html" %}


{% block content %}


<p>
We aim to run new monthly events focusing on Technology - programming languages and tools, data and databases, servers and hosting, and more. 
We will usually have a virtual event with a talk followed by questions. The events will start and end with some conversation in small breakout 
rooms so you can get to know the community.
</p>

<p>
Occasionally we'll hold in-person events. For these please be aware of Covid and other infectious illnesses. 
Do not come if think you may be unwell! Consider other mitigations like masking indoors.
</p>

<p>Sign up to our email list for news:</p>

<form
  action="https://buttondown.com/api/emails/embed-subscribe/teacaketechscot"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/teacaketechscot', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.com/refer/teacaketechscot" target="_blank">Powered by Buttondown.</a>
  </p>
</form>

<p>If you can help out,  or are interested in giving a talk please contact us on EMAIL</p>

<h3>FAQ</h3>

<h4>Can I attend the virtual events if I'm not in Scotland?</h4>

<p>Sure! But expect and be tolerant of conversation that is focused on Scottish places, events or news.</p>

<h4>Will you record the events?</h4>

<p>We might record the talks and questions but we will not record the community conversation.</p>

<h4>Are the events free? How will this be supported?</h4>

<p>The events will be free to attend. Later we may ask for donations or look for sponsorship to cover our costs. Teacake companies are particularly welcome.</p>

<h4>Where will in-person events be?</h4>

<p>They will be in Edinburgh,  Glasgow and a few other cities - we are aware a Scottish event should cover more than just the capital!</p>

<h4>Who is behind this?</h4>

<p>Hello, I'm James Baster. I have experience hosting Tech Meetup Edinburgh, talking at events and running Open Tech calendar. Now I'm doing this event because I want something like it for myself! If you want to help out let me know.</p>

<h4>What is the Code of Conduct?</h4>

<p>This will be published before the first event.</p>

{% endblock %}

